body {
    color: #2e3192;
}

.navbar-default.red {
    background-color: #ff0000;
    border-color: #ff0000;
    border-radius: 0;
    margin-bottom: 75px;
    margin-top: 75px;
}

.navbar-default.red .navbar-text {
    color: #fff;
}

.navbar-default.red .navbar-header {
    position: absolute;
    top: -65px;
}

header .navbar-default.menu {
    background-color: transparent;
    border-width: 0;
    margin-top: 20px;
}

header .navbar-collapse.menu {
    padding: 0;
}

header .nav.navbar-nav > li > a {
    color: #2e3192;
    padding: 30px 15px 0px 10px;
    font-size: 20px;
    border: none;
    border-radius: 0;
    text-transform: uppercase;
}

header .nav.navbar-nav > li.active > a,
header .nav.navbar-nav > li.active > a:focus,
header .nav.navbar-nav > li.active > a:hover {
    color: #ff0000;
    cursor: default;
    background-color: transparent;
    border: none;
    border-bottom-color: transparent;
}

.stock .row .thumbnail .caption h2,
header .navbar-default .navbar-nav > li > a:focus,
header .navbar-default .navbar-nav > li > a:hover {
    color: #2e3192;
}

.stock .thumbnail-inner {
    position: relative;
}

.stock .thumbnail-inner div.reserved, .stock .thumbnail-inner div.sold {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    background-color: #2e3192;
}

.stock .thumbnail-inner div.sold {
    background-color: #ff0000;
}

.stock .row.list {
    margin-top: 50px;
}

.specification table,
.carousel img {
    width: 100%;
}

.specification table th {
    text-transform: uppercase;
}
.specification .table-bordered > tbody > tr > th, .specification .table-bordered > tbody > tr > td {
    width: 50%;
    padding: 10px;
    border: 1px solid #2e3192;
    color: #2e3192;
    font-size: 20px;
}

.carousel-caption {
    background-image: url('../img/slider_caption_bg.png');
    width: 100%;
    left: 0;
    bottom: 0;
    padding-bottom: 20px;
}

.carousel-caption p {
    font-size: 30px;
    margin: 0;
    text-shadow: 2px 2px black;
    color: #fff;
}

.stock-view .carousel-caption.sold {
    background: #ff0000;
    background-image: none;
}
.stock-view .carousel-caption.reserved {
    background: #2e3192;
}

.stock-view .carousel-caption p {
    text-transform: uppercase;
}

.thumbnail {
    border: none;
    padding: 0;
}

.thumbnail .caption {
    padding-left: 0;
}

h2,
.row .col-sm-6 .thumbnail .caption h3,
.thumbnail .caption table tr th {
    color: #ff0000;
}

h2.sold, h3.sold {
    text-decoration: line-through;
}

p,
.thumbnail .caption p,
.thumbnail .caption table,
.thumbnail .caption address {
    color: #2e3192;
    font-size: 18px;
}

.stock .row .thumbnail .caption h2,
.stock-view h1,
.specification table.
.thumbnail h2 {
    color: #2e3192;
}

.thumbnail .caption table {
    width: 100%;
}

.btn-danger {
    background-color: #ff0000;
    border-color: #ff0000;
    border-radius: 0;
    margin-top: 20px;
}

.stock .thumbnail .caption {
    padding: 0;
}

.stock .thumbnail .caption p {
    margin: 0;
}

.stock .thumbnail .caption .row div {
    margin-top: 10px;
}

.newest-stock .thumbnail {
    position: relative;
}

.row.newest-stock .thumbnail .caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: #ff0000;
    padding: 0;
}

.newest-stock.row .col-sm-6.col-md-4 .thumbnail .caption h3 {
    color: #fff;
}

.row .col-sm-6 .thumbnail .caption h3 span {
    color: #2e3192;
}

.newest-stock .thumbnail .caption h3 {
    color: #fff;
    margin-top: 10px;
}

.stock-view {
    margin-bottom: 30px;
}

footer .navbar-default {
    background: #2e3192; /* Old browsers */
    background: -moz-linear-gradient(top, #2383c5 0%, #2e3192 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #2383c5 0%, #2e3192 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #2383c5 0%, #2e3192 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2383c5', endColorstr='#2e3192', GradientType=0); /* IE6-9 */
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    margin-top: 15px;
}

footer .navbar-default .navbar-nav > li > a {
    color: #fff;
}

footer .navbar-default .navbar-nav > li > a:hover,
footer .navbar-default .navbar-nav > .active > a,
footer .navbar-default .navbar-nav > .active > a:focus,
footer .navbar-default .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: transparent;
    text-decoration: underline;
}

@media (min-width: 768px) and (max-width: 991px) {
    header .nav.navbar-nav > li > a {
        padding-right: 10px;
        font-size: 16px;
    }
    .nav > li > a {
        padding: 0px 5px;
    }
    .thumbnail .caption h3 span {
        display: block;
    }
    .carousel-caption p {
        font-size: 15px;
    }
    .red .navbar-text.first {
        display: none;
        visibility: hidden;
    }
    footer .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}
@media (max-width: 767px) {
    .navbar-toggle {
        float: left;
        margin-left: 15px;
    }
    .navbar-default.red {
        background-color: transparent;
        border-color: transparent;
        margin-bottom: 10px;
        margin-top: 30px;
    }
    .navbar-default.red .navbar-header {
        position: relative;
        top: 0;
        margin: 0 auto;
        text-align: center;
    }
    .red .navbar-nav {
        float: none;
        background: #ff0000;
        margin: 30px auto 0;
        text-align: center;
    }
    .red .nav > li {
        display: inline-block;
        padding: 0 10px;
    }
    .carousel-caption p {
        font-size: 15px;
    }
    .thumbnail .caption h3 {
        text-align: center;
    }
    .thumbnail > img, .thumbnail a > img {
        width: 100%;
    }
    footer .collapse {
        display: block;
    }
    footer .nav > li {
        display: inline-block;
    }
    footer .navbar-nav {
        margin: 7.5px 0px;
        float: left;
    }
    footer .navbar-nav.navbar-right {
        float: right;
    }
    footer .nav > li > a {
        padding: 10px 5px;
    }
}

@media (max-width: 650px) {
    .red .nav > li {
        padding: 0 5px;
    }
    .red .navbar-text.first {
        display: none;
        visibility: hidden;
    }
    footer .nav > li {
        display: block;
    }
    footer .navbar-nav.navbar-right li {
        text-align: right;
    }
}